.title {
  color: black;
  text-align: center;
  font-family: fantasy;
  font-size: 60px;
}

.carousel-item img {
  max-width: 1000px;
  max-height: 500px;
}

.center {
  margin-left: 07%;
  padding-top: 1.5cm;
}

form {
  margin-left: 20%;
  margin-right: 20%;
}

.btn-primary {
  background-color: black;
}

.paragraph {
  margin-left: 07%;
  margin-right: 20%;
}

#text {
  padding-top: 1cm;
  padding-bottom: 1cm;
}
