h1 {
    color: black;
    text-align: center;
    font-family: fantasy;
    font-size: 60px;
}

.carousel-item img {
    max-width: 1000px;
    max-height: 500px;
}

.center {
    margin-left: 07%;
    padding-top: 1.5cm;
}